<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stock Interest Metric</title>

  <!-- Bootstrap Core CSS -->
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="{% static 'js/settings.js' %}"></script>
</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/panel/home/"><img style="height: 18px;" src="{% static 'img/logo2.png' %}" alt="logo"/></a>
      </div>
      <!-- /.navbar-header -->

      <ul class="nav navbar-top-links navbar-right">
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-alerts">
            {% autoescape off %}
            {% for i in all_messages %}
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> {{ i.message_title }}
                  <span class="pull-right text-muted small">{{ i.message_date }}</span>
                  <p></p>
                  <p>{{ i.message_content }}</p>
                </div>
              </a>
            </li>
            {% endfor %}
            {% endautoescape %}
            {% autoescape off %}
            {% for i in account_messages %}
            <li class="divider"></li>
            <li>
              <a href="#">
                <div>
                  <i class="fa fa-comment fa-fw"></i> {{ i.message_title }}
                  <span class="pull-right text-muted small">{{ i.message_date }}</span>
                </span>
                <p></p>
                <p>{{ i.message_content }}</p>
              </div>
            </a>
          </li>
          {% endfor %}
          {% endautoescape %}
        </ul>
        <!-- /.dropdown-alerts -->
      </li>
      <!-- /.dropdown -->
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li><a href="/panel/settings/"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li>
            <a href="/panel/home/"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> API<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="/panel/key/">Key</a>
              </li>
              <li>
                <a href="/panel/tutorial/">Tutorial</a>
              </li>
            </ul>
            <!-- /.nav-second-level -->
          </li>
          <li>
            <a href="/panel/app/"><i class="fa fa-terminal fa-fw"></i> Web app</a>
          </li>
          <li>
            <a href="/panel/settings/"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
  </nav>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Settings</h1>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Account Settings
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" class="">Information</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <label>Username</label>
                    <input name="username_input" type="text" class="form-control" placeholder="Username" value="{{ user.username }}" readonly>
                  </br>
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="Email" value="{{ user.email }}" readonly>
                  <!--<span class="input-group-btn">
                  <button class="btn btn-success" type="button">Update
                </button>
              </span>-->
            </br>
            <label>Subscription</label>
            <input type="text" class="form-control" placeholder="Date" value="{{ account_type }}" readonly>
          </br>
          <label>Account Created</label>
          <input type="text" class="form-control" placeholder="Date" value="{{ date_joined }}" readonly>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed" aria-expanded="false">Password</a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <form class="panel-body" action="/panel/settings/" method="post">
          {% csrf_token %}
          <label>Change Password</label>
        </br>
      </br>
      <!--<input type="text" class="form-control" placeholder="Current password">-->
      {{ password_update.old_password }}
    </br>
    <!--<input type="text" class="form-control" placeholder="New password">-->
    {{ password_update.new_password }}
  </br>
  <!--<input type="text" class="form-control" placeholder="Confirm new password">-->
  {{ password_update.new_password_confirm }}
</br>
{% for err in password_errors %}
<div class="alert alert-danger">
  {{ err }}
</div>
{% endfor %}
{% for err in password_success %}
<div class="alert alert-success">
  {{ err }}
</div>
{% endfor %}
<input type="submit" class="btn btn-success" value="Change Password" />
</form>
</div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed" aria-expanded="false">Delete Account</a>
    </h4>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false">
    <div class="panel-body">
      <div class="form-group">
        <label>
          <input id="del-acc-checkbox" onclick="OnCheckDeleteAcc('del-acc-checkbox', 'del-acc-btn')" type="checkbox" value=""> Check to confirm (Account will be remain for 24 hours after deletion, login to re-activate)
        </label>
      </br>
      <button id="del-acc-btn" type="button" class="btn btn-lg btn-block btn-danger disabled" data-toggle="modal" data-target="#deleteModal">Delete</button>
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">Are you sure you wish to delete your account?</h4>
            </div>
            <div class="modal-body">
              Your account will remain de-activated for 24 hours after deletion.
              Login again to re-activate within those 24 hours.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <form action="/panel/delete/" method="post">
                {% csrf_token %}
                <input name="deleteAccount" value="Delete" type="submit" class="btn btn-danger" />
              </form>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-6 -->
<!-- /.col-lg-6 -->
<div class="col-lg-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      Support
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <p>If you need some guidance, <a href="/panel/tutorial/">start here</a></p>
      <p>By using this API you agree to the <a href="/termsofservice/">Terms of Service</a>.</p>
      <p>Here is our <a href="/privacypolicy/">Privacy Policy</a>.</p>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel -->
</div>
<!-- /.col-lg-6 -->
</div>
<!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static 'dist/js/sb-admin-2.js' %}"></script>


</body>

</html>
