<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Stock Interest Metric</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
	<meta name="description" content="Uncover stocks gaining interest in the market. Using advanced algorithms and machine learning our tool gives you the edge you need when trading." />
	<!-- css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-233520883-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-233520883-1');
</script>

</head>
<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top ">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/home/"><img style="max-height: 28px;" src="{% static 'img/logo2.png' %}" alt="logo"/></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/home/">Home</a></li>
							<li><a href="/features/">Features</a></li>
							<li><a href="/contact/">Contact</a></li>
							<li><a href="/signup/">Signup</a></li>
							<li><a href="/login/">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->

		<div class="content_white">
			<h2>Uncover stocks gaining interest in the market</h2>
			<p>
				The Stock Interest Metric lets you see beyond the price data.
			</br>
			Using advanced algorithms and machine learning this tool gives you the edge you need when trading mid to long term.
		</br>
		The volatile and stable data lines overlay on the top of your regular open, high, low, close and volume data lines for deeper insight.
	</p>
</div>

<div class="testimonial-area">
	<div class="testimonial-solid">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active">
					<a href="#"></a>
				</li>
				<li data-target="#carousel-example-generic" data-slide-to="1" class="">
					<a href="#"></a>
				</li>
				<li data-target="#carousel-example-generic" data-slide-to="2" class="">
					<a href="#"></a>
				</li>
				<li data-target="#carousel-example-generic" data-slide-to="3" class="">
					<a href="#"></a>
				</li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<style>
					@media only screen and (max-width:700px) {
						img {
							max-width:100%;
						}
					}
					</style>
					<p><img style="max-height: 400px;" src="{% static 'img/examples/YOJ.png' %}" alt="logo"/></p>
					<p>
						<b>- YOJ.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/VR1.png' %}" alt="logo"/></p>
					<p>
						<b>- VR1.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/PH2.png' %}" alt="logo"/></p>
					<p>
						<b>- PH2.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/HIO.png' %}" alt="logo"/></p>
					<p>
						<b>- HIO.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/CAJ.png' %}" alt="logo"/></p>
					<p>
						<b>- CAJ.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/C6C.png' %}" alt="logo"/></p>
					<p>
						<b>- C6C.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/BKY.png' %}" alt="logo"/></p>
					<p>
						<b>- BKY.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/AVZ.png' %}" alt="logo"/></p>
					<p>
						<b>- AVZ.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/AUC.png' %}" alt="logo"/></p>
					<p>
						<b>- AUC.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/ANO.png' %}" alt="logo"/></p>
					<p>
						<b>- ANO.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/ALU.png' %}" alt="logo"/></p>
					<p>
						<b>- ALU.AX -</b>
					</p>
				</div>
				<div class="item">
					<p><img style="max-height: 400px;" src="{% static 'img/examples/CSL.png' %}" alt="logo"/></p>
					<p>
						<b>- CSL.AX -</b>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<section id="content">


	<div class="container">

		<div class="row">
			<div class="col-md-8">
				<!-- Heading and para -->
				<div class="block-heading-two">
					<h3><span>How do I use this?</span></h3>
				</div>
				<p>This tool gives you two series of values which you can then graph. The returned lines being the volatile and stable lines.</p>
				<p>These values represent how popular a stock is becoming. A lower value represents more interest in the stock and higher value represents dwinding interest.</p>
				<p>The volatile series of data is the most reactive to market conditions and should be used for an initial assessment.</p>
				<p>The stable series of data is used to determine how consistently attention is being brought to the stock and moves more conservatively.</p>
				<p></p>
			</div>
			<div class="col-md-4">
				<div class="block-heading-two">
					<h3><span>FAQ</span></h3>
				</div>
				<!-- Accordion starts -->
				<div class="panel-group" id="accordion-alt3">
					<!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
					<div class="panel">
						<!-- Panel heading -->
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
									<i class="fa fa-angle-right"></i> Does this always predict rises?
								</a>
							</h4>
						</div>
						<div id="collapseOne-alt3" class="panel-collapse collapse">
							<!-- Panel body -->
							<div class="panel-body">
								This tool makes it's best efforts to predict the interest from other investors a stock is getting. Just because there is interest in a stock it does not mean it will rise.
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
									<i class="fa fa-angle-right"></i> Is this a standalone tool?
								</a>
							</h4>
						</div>
						<div id="collapseTwo-alt3" class="panel-collapse collapse">
							<div class="panel-body">
								This tool can provide insight by itself but adding it to your own set of metrics and methods is always more beneficial.
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
									<i class="fa fa-angle-right"></i> How do I access it?
								</a>
							</h4>
						</div>
						<div id="collapseThree-alt3" class="panel-collapse collapse">
							<div class="panel-body">
								The primary use is through an API. You will recieve your key with your account and further instructions will be provided on the page.
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
									<i class="fa fa-angle-right"></i> Does this work with blue chip stocks?
								</a>
							</h4>
						</div>
						<div id="collapseFour-alt3" class="panel-collapse collapse">
							<div class="panel-body">
								Yes. CSL.AX has been provided in the images carousel above as an example. These stocks typically always have interest in them which usually results in slight deviations of the volatile and stable lines.
							</div>
						</div>
					</div>
				</div>
				<!-- Accordion ends -->

			</div>



		</div>


	</div>

</section>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading"> Contact</h5>
					<p>
						<i class="icon-envelope-alt"></i> <email>stockinterestmetric@gmail.com</email>
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="/privacypolicy/">Privacy policy</a></li>
						<li><a href="/termsofservice/">Terms of Service</a></li>
						<li><a href="/signup/">Signup</a></li>
						<li><a href="/login/">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Stock Interest Metric 2022 All rights reserved.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
<script src="{% static 'js/portfolio/setting.js' %}"></script>
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
<script src="{% static 'js/animate.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
</body>
</html>
