<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
	<meta name="description" content="Sign up for a free account with 20 free API calls per day!" />

    <title>Stock Interest Metric</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'js/password-confirm.js' %}"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Sign up</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/signup/" method="post">
                          {% csrf_token %}
                          <div class="form-group">
                            {{ signup_form.username }}
                          </div>
                          <div class="form-group">
                            <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>-->
                            {{ signup_form.email }}
                          </div>
                          <div class="form-group">
                            <!--<input class="form-control" placeholder="Password" name="password" type="password" value="">-->
                            {{ signup_form.password1 }}
                          </div>
                          <div name='confirm-password-wrapper' class="form-group">
                            <label class="control-label" name="password-confirm-error" for="inputError" hidden="true">Passwords do not match</label>
                            <!--<input onchange="CheckPassword('password', 'confirm-password', 'confirm-password-wrapper', 'password-confirm-error', 'signup-button')" class="form-control" placeholder="Re-enter Password" name="confirm-password" type="password" value="">-->
                            {{ signup_form.password2 }}
                          </div>
                          {% for key, value in error_message.items %}
                          <div class="alert alert-danger" style="display: {{ error_message_show }}">
                            {{ value.as_text|cut:"* "|cut:"api " }}
                          </div>
                          {% endfor %}
                          <div class="checkbox">
                            <label>
                              <!--<input name="termsandconditions" type="checkbox" value="Terms & Conditions">I agree to the Terms and Conditions-->
                              {{ signup_form.checkbox }}I agree to the <a href="/termsofservice/">Terms of Service</a> and understand the <a href="/privacypolicy/">Privacy Policy</a>
                            </label>
                          </div>
                          <!-- Change this to a button or input when using this as a form -->
                          <input type="submit" value="Submit" name="signup_button" class="btn btn-lg btn-success btn-block" />
                        </form>
                      </br>
                        <div>Already have an account? <a href="/login/">Login</a></div>
                    </div>
                </div>
                <div class="well">
                      <h5><a href="/home/" class="float-right"><i class="fa fa-angle-left"></i> Back</a></h5>
                  </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'bower_components/metisMenu/dist/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'dist/js/sb-admin-2.js' %}"></script>

</body>

</html>
