<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Stock Interest Metric</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
	<meta name="description" content="" />
	<!-- css -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
	<link href="{% static 'css/jcarousel.css' %}" rel="stylesheet" />
	<link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
	<link href="{% static 'js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>
	<div id="wrapper">
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html"><img style="max-height: 28px;" src="{% static 'img/logo2.png' %}" alt="logo"/></a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li><a href="/home/">Home</a></li>
							<li><a href="/features/">Features</a></li>
							<li class="active"><a href="/contact/">Contact</a></li>
							<li><a href="/signup/">Signup</a></li>
							<li><a href="/login/">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header><!-- end header -->
		<section id="inner-headline">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2 class="pageTitle">Terms of Service</h2>
					</div>
				</div>
			</div>
		</section>
		<section id="content">

			<div class="container">
				<h1>Terms of Service</h1>
				<p>Last updated: June 05, 2022</p>
				<p>By using Stock Interest Metric and its Content you agree to these Terms of Service. These terms may be updated without notice so be sure to regularly check this page. </p>
				<h2>Definitions</h2>
				<p>For the purposes of this Terms of Service:</p>
				<ul>
					<li>
						<p><strong>You</strong> or <strong>Your</strong> shall refer to the agreeing user as an individual or the entity you represent.</p>
					</li>
					<li>
						<p><strong>Stock Interest Metric</strong> refers to everything within the scope of this website being https://stockinterestmetric.com, including some external components referenced within the website.</p>
					</li>
					<li>
						<p><strong>Stock Interest Metric Service</strong> refers to the Software As A Service platform (SaaS) that is wholly under ownership and operated by Stock Interest Metric and made available to you under https://stockinterestmetric.com and it's subdomains.</p>
					</li>
					<li>
						<p><strong>Service</strong> refers to Stock Interest Metric Service.</p>
					</li>
					<li>
						<p><strong>Content</strong> refers to all data/information and types of data/information exchanged to, from and within Stock Interest Metric.</p>
					</li>
				</ul>

				<h2>The Service</h2>
				<p>Stock Interest Metric Service provides you with access to its Service in a limited capacity as is outlined in this document.</p>
				<p>Stock Interest Metric makes no guarantees on the accuracy of its Service nor does it take any responsibility for actions taken based on the Stock Interest Metric Service or the Stock Interest Metric as a whole. This Service is provided on good faith.</p>
				<p>You understand and agree that Stock Interest Metric and all it's components may not be available all the time.</p>

				<h2>Intellectual Property</h2>
				<p>Using Stock Interest Metric and its Service does not give you ownership or a licence of any of the intellectual property under Stock Interest Metric and data accessed or retrieved through Stock Interest Metric inlcuding any information accessed through a third-party.</p>
				<p>By making a query on any part Stock Interest Metric you agree and understand that information may be collected in the form of log files or database entries.</p>

				<h2>Refund Policy</h2>
				<p>We do not offer refunds after payment on Stock Interest Metric, It is your duty to cancel subscriptions on time.</p>

				<h2>API Limit and Access</h2>
				<p>Your daily API calls will correspond with your account subscription as is listed on Stock Interest Metric "pricing" section (https://www.stockinterestmetric.com/pricing/), These terms may vary and it is your responsibility to keep up to date on them.</p>
				<p>Upon termination or downgrade of subscription your current subscription status will be altered when your current subscription expires.</p>
				<p>All data passed through to Stock Interest Metric Service may not exceed 600KB at one time.</p>

				<h2>Billing</h2>
				<p>You agree that billing occurs at the same time on the same day every month starting from your first payment. If billing cannot occur on that day (For example, you signed up on the 31st of a month) you will instead be billed at the end of that month.</p>

				<h2>Limitation of Liability</h2>
				<p>You agree to defend, indemnify and hold Stock Interest Metric from any and all liability arising in any way from your use of the Service or the placement or transmission of any message, information, Software and/or Service or other materials through the Software and/or Service by you or users of your account or related to any violation of these Terms and Conditions by you or users of your account.</p>

				<h2>Use Restrictions</h2>
				<p>You will not attempt to directly or indirectly reverse-engineer, exploit, decompile, disassemble or otherwise attempt to discover or uncover underlying operation of any component under Stock Interest Metric. You, the user, shall only upload or interact with all components of Stock Interest Metric in the intended way.</p>

				<h2>Termination</h2>
				<p>Stock Interest Metric reserves the right to terminate any account, at any time, without cause, including termination of subscription to the Service upon notification by email. You acknowledge and agree that we may terminate your password or account or deny you access to all or part of the Service without prior notice if you engage in any conduct or activities that we, in our sole discretion, believe violate any of these Terms and Conditions, violate the rights of Stock Interest Metric or is otherwise inappropriate for continued access.</p>

				<h2>Governing Law</h2>
				<p>This Agreement shall be subject to Australian Law and the parties hereby submit to the exclusive jurisdiction of the Australian courts.</p>

				<h2>Contact Us</h2>
				<p>If you have any questions about this Privacy Policy, You can contact us:</p>
				<ul>
					<li>
						<p>By email: stockinterestmetric@gmail.com</p>
					</li>
					<li>
						<p>By visiting this page on our website: <a href="https://stockinterestmetric.com/termsofservice/" rel="external nofollow noopener" target="_blank">https://stockinterestmetric.com/termsofservice</a></p>
					</li>
				</ul>
			</div>
		</div>
			</div>
		</div>

	</section>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="widget">
						<h5 class="widgetheading">Our Contact</h5>
						<p>
							<i class="icon-envelope-alt"></i> <email>stockinterestmetric@gmail.com</email>
						</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="widget">
						<h5 class="widgetheading">Quick Links</h5>
						<ul class="link-list">
							<li><a href="/privacypolicy/">Privacy policy</a></li>
							<li><a href="/termsofservice/">Terms of Service</a></li>
							<li><a href="/signup/">Signup</a></li>
							<li><a href="/login/">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="copyright">
							<p>
								<span>&copy; Stock Interest Metric 2022 All rights reserved.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	<!-- javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
	<script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
	<script src="{% static 'js/portfolio/setting.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/animate.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="{% static 'js/owl-carousel/owl.carousel.js' %}"></script>
</body>
</html>
